# Projektaufgabe: Grundlagen der Datenanalyse in Python

Die Pressestelle der San Francisco Public Library möchte einen Online-Artikel zum Kundenstamm der Bibliothek erstellen. Dazu hat sie Dir einen Datensatz geschickt, den Du auswerten sollst.

    Erstelle eine Beschreibung des Datensatzes unter Verwendung des statistischen Grundvokabulars.
    Lies den Datensatz ein.
    Bereinige den Datensatz von fehlenden Werten und berechne die neue Variable Membership Duration.

In [2]:
import pandas as pd
Lib_Use = pd.read_csv("../data/Library_Usage.csv", na_values="None")

Lib_Use.head(10)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,NaN,NaN,z,email,True,2015,True,NaN
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016.0,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014.0,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015.0,z,email,True,2011,False,7.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,June,2016.0,z,email,True,2013,False,NaN

Der Datensatz ist eine Vollstichprobe mit 15 verschiedenen Merkmalen. Die Merkmale sind nominal (Home Library Definition), metrisch (Total Checkouts) und kategorisch (Age Range).

In [16]:
Lib_Use.dropna(inplace=True)

In [17]:
Lib_Use

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016.0,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014.0,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015.0,z,email,True,2011,False,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423442,2,YOUNG ADULT,608,364,10 to 19 years,S7,Sunset,July,2016.0,z,email,True,2003,False,7.0
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015.0,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016.0,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016.0,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015.0,z,email,True,2003,False,9.0

In [18]:
#Berechnung der neuen Variablen Membership Duration:

Lib_Use['Circulation Active Month'] = pd.to_datetime(
    Lib_Use['Circulation Active Month'],
    errors='coerce',
    format="%B"
)

In [19]:
Lib_Use['Circulation Active Month']= Lib_Use['Circulation Active Month'].dt.month
Lib_Use["Membership Duration"]=(Lib_Use['Circulation Active Year'] - Lib_Use['Year Patron Registered'])*12 + Lib_Use['Circulation Active Month']

In [20]:
Lib_Use

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,Membership Duration
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4,2016.0,z,email,True,2010,False,4.0,76.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1,2016.0,z,email,True,2003,False,2.0,157.0
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,7,2016.0,p,phone,True,2004,False,9.0,151.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,7,2014.0,p,phone,True,2014,False,5.0,7.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,6,2015.0,z,email,True,2011,False,7.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423442,2,YOUNG ADULT,608,364,10 to 19 years,S7,Sunset,7,2016.0,z,email,True,2003,False,7.0,163.0
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3,2015.0,p,phone,False,2009,False,9.0,75.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7,2016.0,z,email,True,2016,False,6.0,7.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7,2016.0,z,email,True,2014,False,9.0,31.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4,2015.0,z,email,True,2003,False,9.0,148.0

In [22]:
Lib_Use.to_csv("../data/Library_Usage_Projektaufgabe.csv")