# Häufigkeiten

In [2]:
#Kategoriale Variablen werden mit Häufigkeitstabellen beschrieben. 
#Mit der Funktion value_counts() kann man sich absolute Häufigkeitstabellen ausgeben lassen:

import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df['Age Range'].value_counts()

25 to 34 years       91083
35 to 44 years       67390
10 to 19 years       58944
45 to 54 years       52492
0 to 9 years         38242
65 to 74 years       30141
20 to 24 years       29761
55 to 59 years       21230
60 to 64 years       19800
75 years and over    14150
Name: Age Range, dtype: int64

In [2]:
#Mit dem zusätzlichen Argumentaufruf normalize=True werden relative Häufigkeiten (Anzahl der Beobachtung durch Gesamtzahl) berechnet:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.215208
35 to 44 years       0.159227
10 to 19 years       0.139271
45 to 54 years       0.124026
0 to 9 years         0.090357
65 to 74 years       0.071216
20 to 24 years       0.070318
55 to 59 years       0.050161
60 to 64 years       0.046783
75 years and over    0.033433
Name: Age Range, dtype: float64

In [7]:
#Modus sind dabei die Merkmalsausprägungen, die die meisten Beobachtungen besitzen:
age_mode = df['Age Range'].mode()
age_mode

0    25 to 34 years
dtype: object

## Aufgabe 3.1.

In [8]:
#1. Erstelle eine Häufigkeitsverteilung für die Variable 'Year Patron Registered'. 
df['Year Patron Registered'].value_counts()

2003    69257
2015    53951
2014    51902
2013    48251
2012    37395
2011    26531
2016    26288
2010    24321
2009    22307
2008    20518
2007    13289
2006    10776
2005     9668
2004     8994
Name: Year Patron Registered, dtype: int64

In [9]:
#Wieviel Prozent der Kunden wurden 2013 im System registriert? Wie viele in den kommenden Jahren? Was fällt Dir auf?
df['Year Patron Registered'].value_counts(normalize=True)

2003    0.163555
2015    0.127409
2014    0.122570
2013    0.113948
2012    0.088311
2011    0.062655
2016    0.062081
2010    0.057436
2009    0.052679
2008    0.048455
2007    0.031383
2006    0.025448
2005    0.022832
2004    0.021240
Name: Year Patron Registered, dtype: float64

11 % der Kunden wurden 2013 registriert. Die Anzahl der Registrierungen stieg in den folgenden Jahren. 2016 dann gehen die Zahlen wieder zurück, was allerdings daran liegen kann, bis wann die Daten reichen.

In [37]:
#Wieviel Prozent der Kunden sind zwischen 25 und 34 Jahre
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.215606
35 to 44 years       0.159146
10 to 19 years       0.139200
45 to 54 years       0.123963
0 to 9 years         0.090311
65 to 74 years       0.071180
20 to 24 years       0.070283
55 to 59 years       0.050136
60 to 64 years       0.046759
75 years and over    0.033416
Name: Age Range, dtype: float64

In [34]:
#Ersetze die fehlenden Werte in der Spalte Age Range durch den Modus dieser Spalte. 
#Nutze dazu die Funktion DataFrame.fillna 
age_mode = df['Age Range'].mode() [0]
age_mode [0]

'2'

In [35]:
df['Age Range'].fillna(age_mode, inplace=True)

Denkst Du, es handelt sich dabei um eine gute Methode, fehlende Werte zu ersetzen? 
Welche anderen Strategien fallen Dir ein?

- Nein, dadurch könnte es zu einer Datenverzerrung kommen. Besser wäre es die Zeilen ohne Werte bei der Berechnung ganz rauszunehmen.

In [36]:
df['Age Range'].isna().sum()

0

# Lagemaß

Median, Mittelwert und Quantil

In [38]:
#Mittelwert:

import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df['Total Checkouts'].mean()

161.98209697530748

In [39]:
#Median: Wert der Beobachtung, die die nach der Größe geordnete Messreihe in genau zwei gleich große Teile teilt. 
#Für eine gerade Anzahl an Beobachtung wird der Mittelwert der zwei Beobachtungen an den Stellen n/2 und n/2+1 genommen

df['Total Checkouts'].median()

19.0

In [3]:
#Quantil: Der Median teilt eine geordnete Verteilung in zwei gleiche Teile. 
#Quantilen teilen geordnete Verteilungen je nach Definition in einem Verhältnis 3:1 (x0.75) d.h. dass 75% der Beobachtungen 
#kleiner als x0.75 und 25% größer sind. Das x0.25 Quantil teilt die Reihe im Verhältnis 1:3.
#Hier sind 25% der Beobachtungen kleiner und 75% größer als der Wert x0.25.
df['Total Checkouts'].quantile(q=[0.25, 0.5, 0.75])

0.25      2.0
0.60     39.0
0.75    113.0
Name: Total Checkouts, dtype: float64

In [41]:
#Um Ausreißer in einer Variablen zu entfernen bzw. zu ersetzen, 
#bietet es sich manchmal an, die größten (und oder kleinsten) α% Beobachtungen zu identifizieren:
# identifies 0.5% of the data at both ends of the distribution
alpha = 0.005
df['Total Checkouts'].quantile([alpha, 1-alpha])

0.005       0.00
0.995    2827.53
Name: Total Checkouts, dtype: float64

In [42]:
df['Total Checkouts'].describe()

count    423448.000000
mean        161.982097
std         453.703678
min           0.000000
25%           2.000000
50%          19.000000
75%         113.000000
max       35907.000000
Name: Total Checkouts, dtype: float64

In [45]:
alpha = 0.015
df['Total Checkouts'].quantile([alpha, 1-alpha])

0.015       0.0
0.985    1757.0
Name: Total Checkouts, dtype: float64

# Streuungsmasse

Varianz:
Distanz einer Beobachtung vom Mittelwert der zugrundeliegenden Variable wird Abweichung genannt. Der Mittelwert über die quadrierten Abweichungen wird als Varianz definiert. Eine geringe Varianz bedeutet, dass sich die Werte, die die Variable annehmen kann, nur geringfügig vom Mittelwert unterscheiden:

In [48]:
df['Total Checkouts'].var()

205847.027758416

In [49]:
#Standardabweichung:
df['Total Checkouts'].std()

453.7036783611259

Variationskoeffizient: Normalisierte Größe, um die Streuung verschiedener Variablen zu vergleichen, 
berechnet durch Standardabweichung / Mittelwert.

# Aufgabe 3.4

Welche Variable streut mehr: 'Total Checkouts' oder 'Total Renewals'? Vergleiche die Standardabweichungen und den Variationskoeffizienten miteinander.

In [51]:
#Berechnung Variationskoeffizient von Total Checkouts und Total Renewals:
# Total Checkouts:

Streuung_Checkouts = df['Total Checkouts'].std() /df['Total Checkouts'].mean()
Streuung_Checkouts

2.8009495298130904

In [52]:
# Total Renewals:

Streuung_Renewals = df['Total Renewals'].std() /df['Total Renewals'].mean()
Streuung_Renewals

3.7717062851167245

# Spannweite

In [53]:
# Spannweite ist die Differenz zwischen dem maximalen und minmalem Wert:
df['Total Checkouts'].max() - df['Total Checkouts'].min()

35907

# Interquartialsabschnitt

In [4]:
# Der Interquartilsabstand ist robustes Streuungsmaß. Er ergibt sich aus der Differenz des 75%- zum 25%-Quantil:
df['Total Renewals'].quantile(q=0.75) - df['Total Renewals'].quantile(q=0.25)

27.0

# Symmetrie und Schiefe

Die Symmetrie sagt etwas über die (Un-)Gleichverteilung der Werte einer Variablen aus. Bei symmetrischen Verteilungen sind der Mittelwert und der Median gleich und das Histogramm kann an diesen Achsen gespiegelt werden. Eine linkssteile (rechtschiefe) Verteilung ergibt sich durch einige überdurchschnittlich große Werte. In diesem Fall ist der Mittelwert größer als der Median. Eine rechtssteile (linksschiefe) Verteilung ist durch einige unterdurchschnittlich kleine Werte geprägt. Hier ist der Median größer als der Mittelwert.

Zudem kann eine Verteilung auch Gleichverteilt, Bi- oder Multimodal sein. Im ersten Fall gibt es keinen Modus, also keinen Wert der Verteilung, der am Häufigsten vorkommt. In den letzteren Fällen gibt es ein oder mehrere Modi. Im Histogramm sind multimodale Verteilungen daran zu erkennen, dass sie typischerweise über zwei oder mehr “Gipfel” verfügen.

# Bivariate Verteilungen

Variablen, die keinen Zusammenhang aufweisen, nennt man statistisch unabhängige Variablen. Für zwei metrische Variablen kann man außerdem zwischen einem positiven oder einem negativem Zusammenhang unterscheiden.

# Kreuztabellen

Um zwei ordinale oder nominale Variablen miteinander zu vergleichen, eignen sich Kreuztabellen. Jeder Wert in der Kreuztabelle entspricht der Anzahl der Beobachtungen im Datensatz mit genau dieser Kombination an Merkmalsausprägungen.

In [55]:
import pandas as pd

df = pd.read_csv(
    "../data/Library_Usage.csv", 
    na_values="none"
)
pd.crosstab(
    df['Provided Email Address'],
    df['Notice Preference Definition'],
    margins=True
)

Notice Preference Definition   email  phone  print     All
Provided Email Address
False                             95  58362  28569   87026
True                          323842   9810   2767  336419
All                           323937  68172  31336  423445

In [56]:
#Normalisierung zur besseren Analyse:

pd.crosstab(
    df['Provided Email Address'],
    df['Notice Preference Definition'],
    margins=True, normalize=1
)

Notice Preference Definition     email     phone     print       All
Provided Email Address
False                         0.000293  0.856099  0.911699  0.205519
True                          0.999707  0.143901  0.088301  0.794481

# Korrelation und Kovarianz

Korrelation und Kovarianz messen die Beziehung und Abhängigkeit zwischen zwei Variablen. “Kovarianz” = die Richtung der linearen Beziehung zwischen den Variablen. Bei einem positiven Wert der Kovarianz steigen die Werte beider Variablen. Bei einer negativen Kovarianz steigen die Werte der einen Variablen, während sie bei der anderen Variablen sinken.
“Korrelation” hingegen misst die Stärke des linearen Zusammenhangs zwischen zwei Variablen. Korrelationswerte sind standardisiert, Kovarianzwerte nicht. Der Korrelationskoeffizient besitzt Werte zwischen -1 (negativer Zusammenhang) bis +1 (positiver Zusammenhang).

In [1]:
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv")
df['Total Checkouts'].corr(df['Total Renewals'])

0.5893620279316033

# Quiz

In [16]:
#Wie viel Prozent der unter 10 Jährigen hat eine Email Adresse angeben?
(df['Provided Email Address'][df['Age Range'] == '0 to 9 years'].sum())/Uder_10

0.7410177291982637

In [14]:
Uder_10 = (df['Age Range'] == '0 to 9 years').sum()

Uder_10

In [15]:
Uder_10

38242