In [ ]:
def greet_user():
    print("Hello!")
    
greet_user()

In [3]:
def greet_user(username):
    print(f"Hello, {username.title()}!")
    
greet_user("jessie")

Hello, Jessie!

In [4]:
def display_message():
    print("Ich lerne Funktionen zu schreiben.")
    
display_message()

Ich lerne Funktionen zu schreiben.

In [6]:
def favourite_book(title):
    print(f"Mein Lieblingsbuch ist {title.title()}.")
    
favourite_book("Ronja Räubertochter")

Mein Lieblingsbuch ist Ronja Räubertochter.

In [9]:
def describe_pet(animal_type, pet_name):
    print(f"\nIch habe eine/einen {animal_type.title()}.")
    print(f"Meine/mein {animal_type.title()} heißt {pet_name.title()}.")
    
describe_pet("katze", "bilbo")

Ich habe eine/einen Katze.
Meine/mein Katze heißt Bilbo.

In [25]:
def make_shirt(size, shirt_message):
    print(f"\nDas T-shirt hat die Größe {size}.")
    print(f"Auf dem T-Shirt steht:{shirt_message}")
          
make_shirt("M", "Sowas")

Das T-shirt hat die Größe M.
Auf dem T-Shirt steht:Sowas

In [28]:
def describe_city(city, country="Italy"):
    print(f"{city.title()} is in {country.title()}.")
    
describe_city("Venice")

Venice is in Italy.

In [30]:
def sayhello(name):
    print("Hello " + name)
    
sayhello("Alice")

Hello Alice

In [33]:
def get_formatted_name(first_name, last_name):
    full_name = f"{first_name} {last_name}"
    return full_name.title()

musician = get_formatted_name("jimi", "hendrix")
print(musician)

Jimi Hendrix

In [3]:
def make_album(artist_name, album_title, tracks=None):
    #return album info:
    album = {"Artist": artist_name.title(), "Album": album_title.title()}
    if tracks:
        album["Tracks"] = tracks
    return album

album_info = make_album("Beatles", "White Album", tracks=20)
print(album_info)

{'Artist': 'Beatles', 'Album': 'White Album', 'Tracks': 20}

In [42]:
def city_country(city, country):
    print(f"{city.title()}, {country.title()}"
             
city_country("cologne", "germany")

Cologne, Germany

In [4]:
def get_formatted_name(first_name, last_name):
    full_name = f"{first_name} {last_name}"
    return full_name.title

while True:
    print("\nPlease tell me your name:")
    print("(enter 'q' at any time to quit)")
    
    f_name = input("First name: ")
    if f_name == 'q':
        break
        
    l_name = input("Last name: ")
    if l_name == 'q':
        break
        
    formatted_name = get_formatted_name(f_name, l_name)
    print(f"\nHello, {formatted_name}!")

Please tell me your name:
(enter 'q' at any time to quit)
First name: q

In [8]:
def make_album(artist_name, album_title):
    #return album info:
    album = f"{artist_name} {album_title}"
    return album.title()

    
while True:
    print("\nPlease enter favourite Artist and Album:")
    print("(enter 'q' anytime to quit)")
    
    
    a_name = input("Artist:")
    if a_name == 'q':
        break
        
    a_title = input("Album:")
    if a_title == 'q':
        break
        
    album_info = make_album(a_name.title(), a_title.title())
    print(album_info)

Please enter favourite Artist and Album:
(enter 'q' anytime to quit)
Artist:q

In [7]:
try:
    print(5/0)
except ZeroDivisionError:
    print("you can't divide by zero!")

you can't divide by zero!

In [9]:
print("Give me two numbers, and I'll divide them.")
print("Enter 'quit' anytime.")

while True:
    first_number = input("\nFirst number: ")
    if first_number == 'quit':
        break
    
    second_number = input("\nSecond number: ")
    if second_number == 'quit':
        break
        
    try:
        answer = int(first_number) / int(second_number)
    except ZeroDivisionError:
        print("You can't divide by 0!")
    else:
        print(answer)

Give me two numbers, and I'll divide them.
Enter 'quit' anytime.

First number: 63

Second number: 7
9.0

First number: 89

Second number: 0
You can't divide by 0!

First number: quit

In [12]:
filename = "alice.txt"

try:
    with open(filename, encoding='utf-8') as f:
        contents = f.read()
except FileNotFoundError:
    print(f"Sorry, file {filename} was not found.")

Sorry, file alice.txt was not found.

In [16]:
def count_words(file):
    
    try:
        with open(file, encoding='utf-8') as f:
            contents = f.read()
    except FileNotFoundError:
        print(f"Sorry, file {file} was not found.")
    else:
        words = contents.split()
        num_words = len(words)
        print(f"The text has about {num_words} words.")

filenames = ["alice.txt", "little_women.txt", "siddharta.txt", "moby_dick.txt", "programming.txt"]
for file in filenames:
    count_words(file)

The text has about 29465 words.
The text has about 189079 words.
Sorry, file siddharta.txt was not found.
The text has about 215830 words.
Sorry, file programming.txt was not found.

In [22]:
print("Geben Sie bitte zwei Zahlen ein, damit ich sie addieren kann.")
print("Mit 'e' können Sie das Programm beenden.")

while True:
       
        first_number = input("\nErste Zahl: ")
        if first_number == 'e':
            break
        
        second_number = input("\nZweite Zahl: ")
        if second_number == 'e':
            break
            
        try:
            answer = int(first_number) + int(second_number)
        except ValueError:
            print("Bitte geben Sie eine Zahl ein!")
        else:
            print(answer)

Geben Sie bitte zwei Zahlen ein, damit ich sie addieren kann.
Mit 'e' können Sie das Programm beenden.

Erste Zahl: 5

Zweite Zahl: 7
12

Erste Zahl: eins

Zweite Zahl: 7
Bitte geben Sie eine Zahl ein!

Erste Zahl: e

In [23]:
filename = "cats.txt"

with open(filename, 'a') as f:
    f.write("Bilbo is a cat.\n")
    f.write("Masha is a cat.\n")
    f.write("Teddy is not a cat.")

In [25]:
filename = "cats.txt"

with open(filename, "r") as f:
    for line in f:
        print(line)

Bilbo is a cat.

Masha is a cat.

Teddy is not a cat.

In [29]:
filename = "dogs.txt"

with open(filename, "r") as f:
    for line in f:
        print(line)

Bilbo is not a dog.Masha is not a dog.Teddy is not a dog.Bilbo is not a dog. Masha is not a dog. Teddy is not a dog.

In [32]:
#funktion, um files zu öffnen und einzulesen:
def reading_files(files):
    #try-except Block, um FileNotFoundError zu umgehen:
    try:
        with open(file, encoding='utf-8') as f:
            for line in f:
                print(line)
                
    except FileNotFoundError:
        pass
        
files = ["cats.txt", "dogs.txt", "mice.txt"]

for file in files:
    reading_files(file)

Bilbo is a cat.

Masha is a cat.

Teddy is not a cat.
Bilbo is not a dog.Masha is not a dog.Teddy is not a dog.Bilbo is not a dog. Masha is not a dog. Teddy is not a dog.

In [88]:
#funktion für csvfile:

def writeOut(output_data):
    with open("Wort_im_text.csv", "w", newline = '') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerows(output_data)

#Funktion 
def counting_tier(text):
    #try-except-Block für Error:
    
    try:
        with open(text, "r") as file:
            content = file.read()
            
    except FileNotFoundError:
        print(f"Die Datei '{text}' ist nicht auffindbar.")
    else:
        number = content.count("and")
        output_data = f"Im Text '{text}' kommt das Wort 'the' {number}-Mal vor"
        
        writeOut(output_data)
        
text = ["alice.txt", "Ameisenkaiser.txt", "Hans Fallada.txt", "Moby Dick.txt", "Little woman.txt"]
for file in text:
    counting_tier(file)

Die Datei 'Moby Dick.txt' ist nicht auffindbar.
Die Datei 'Little woman.txt' ist nicht auffindbar.

In [67]:
import csv

# Versuch Daten als csv zu schreiben:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

filename= "numbers.csv"

with open (filename, "w") as f:
    writer = csv.writer(f)
    writer.writerow(numbers)

In [51]:
# Versuch die geschriebene Datei zu lesen:

filename = "numbers.csv"
data = []

with open (filename) as csvfile:
    reader = csv.reader(csvfile, delimiter = ',')
    for row in reader:
        print(row)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [62]:
#Wir speichern Benutzerinformationen in einer CSV-Datei:

username = input("Bitte geben Sie Ihren Namen ein: ")

filename = "username.csv"

with open(filename, 'w') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(username)
    print(f"Vielen Dank, {username}. Bis zum nächsten Mal!")

Bitte geben Sie Ihren Namen ein: Dragi Jellypopo
Vielen Dank, Dragi Jellypopo. Bis zum nächsten Mal!

In [82]:
#Einlesen der Username Datei

header = ["Course", "Link", "Error Code", "Status"]
data = [["ABC001", "www.blubb.de", "404", "HTTPError"],
       ['Algeria', 2381741, 'DZ', 'DZA'],
       ['American Samoa', 199, 'AS', 'ASM'],]
       
with open("all-links_checked.csv", "w", newline = '') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(header)
    writer.writerows(data)

In [83]:
with open ("all-links_checked.csv", "r") as csvfile:
    reader = csv.reader(csvfile, delimiter = ',')
    for row in reader:
        print(row)

['Course', 'Link', 'Error Code', 'Status']
['ABC001', 'www.blubb.de', '404', 'HTTPError']
['Algeria', '2381741', 'DZ', 'DZA']
['American Samoa', '199', 'AS', 'ASM']

In [181]:
#Versuche mit request
#Urls die request testen soll
urls = [
    "https://api.github.com/invalid",
    "https://www.gutenberg.org/",
    "http://10.1891/0886-6708.27.2.263",
]
import requests
from requests.exceptions import HTTPError

for url in urls:
    try:
        response = requests.head(url, timeout=10)
        response.raise_for_status() #getting the http status
        #status = response.status_code
        
    except HTTPError as http_err:
            print(f'HTTP error occurred: {http_err}')
            
    except Exception as err:
            print(f'Other error occurred: {err}')

HTTP error occurred: 404 Client Error: Not Found for url: https://api.github.com/invalid
Other error occurred: HTTPSConnectionPool(host='www.gutenberg.org', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f3edf956730>: Failed to establish a new connection: [Errno 111] Connection refused'))
Other error occurred: HTTPConnectionPool(host='10.1891', port=80): Max retries exceeded with url: /0886-6708.27.2.263 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x7f3edfd274f0>, 'Connection to 10.1891 timed out. (connect timeout=10)'))

In [27]:
#Versuch dass program die URLs von csv Datei einliest. Darum schreibe ich neue csv-Datei:
header = ["Course", "Title", "Link"]
data = [["MED123","Medien Online","https://api.github.com/invalid"],
["LIT123","Freie Medien", "https://www.gutenberg.org/"],
["OCB123", "Link", "https://www.bibgndk.co.uk/"],]
           
       
with open("all-links_checked.csv", "w", newline = '') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(header)
    writer.writerows(data)

In [20]:
#nun lese ich die Datei ein und lasse request laufen:
import requests
from requests.exceptions import HTTPError

urls =[]

with open ("all-links_checked.csv", newline = '') as inputfile:
    reader = csv.reader(inputfile, delimiter = ',')
    
for url in urls:
    try:
        response = requests.head(url, timeout=10)
        response.raise_for_status() #getting the http status
        #status = response.status_code
        
    except HTTPError as http_err:
            print(f'HTTP error occurred: {http_err}')
            
    except Exception as err:
            print(f'Other error occurred: {err}')

In [178]:
#als nächsten Schritt, möchte ich, dass mir das programm das ergebnis in eine csv-Datei schreibt

import requests
from requests.exceptions import HTTPError

#links =[]
#with open ("all-links_checked.csv", newline = '') as inputfile:
    #for line in inputfile.readlines():
        #array = line.split(',')
        #first_item = array[0]
        
    #readerobj = csv.reader(inputfile, delimiter = ',')
    #included_col = [2]
    
    #for row in readerobj:
        
        #content = list(row[i] for i in included_col)
        #if readerobj.line_num == 1: #skip header
            #links.append(row)
        
#error_status_codes=[]  

urls = [
    "https://api.github.com/invalid",
    "https://www.gutenberg.org/",
    "http://dx.doi.org/10.1017/9781108848916",
]

error_status_codes = []
for url in urls:
    try:
        response = requests.head(url, timeout=10)
        response.raise_for_status
            #getting the http status
        #status = str(response.status_code())
        
    except HTTPError as http_err:
        if status == 404:
            #error_status_codes.append(f"http_err"+"," + status)
            error_status_codes.append(f'HTTP error occurred: {http_err}')
            #print(f'HTTP error occurred: {http_err}')
            
    except Exception as err:
        #if status != 200:
            
            error_status_codes.append(f"," + status)
        
            #print(f'Other error occurred: {err}')
    writeOut(error_status_codes)

In [174]:
import csv

def writeOut(error_status_codes):
    with open('links_checked.csv', 'a') as csv_output:
        writer_object = csv.writer(csv_output)
        writer_object.writerow(error_status_codes)

In [173]:
import csv
with open('all_links_broken.csv', 'w') as csv_output:
        writer_object = csv.writer(csv_output)
        writer_object.writerow(["Error Code", "Link"])

In [17]:
import csv
links =[]
with open ("Readinglist_1.csv", newline = '') as inputfile:
    for line in inputfile.readlines():
        array = line.split(',')
        first_item = array[0]
    #n = len(array)
    #inputfile.seek(0)
    
    readerobj = csv.reader(inputfile, delimiter = ',')
    
        
    for row in readerobj:
        #included_col = [3]
        #content = list(row[i] for i in included_col)
        #if readerobj.line_num == 1:
            #continue #skip header
        links.append(row)
    print(links)

[]

In [21]:
import requests
from requests.exceptions import HTTPError
import csv
import pandas as pd

In [22]:

df = pd.read_csv("all-links_checked.csv")

df

   Course          Title                            Link
0  MED123  Medien Online  https://api.github.com/invalid
1  LIT123   Freie Medien      https://www.gutenberg.org/
2  OCB123           Link      https://www.bibgndk.co.uk/

In [23]:
Links = df.Link

In [24]:
Links

0    https://api.github.com/invalid
1        https://www.gutenberg.org/
2        https://www.bibgndk.co.uk/
Name: Link, dtype: object

In [26]:
checked_status = []
for url in Links:   
    try:
        response= requests.head(url)   
        status= str(response.raise_for_status())  
  
        
        #results.append(status)

    #except Exception:
        #if status == [404, 500]:
        
        
    except HTTPError as http_err:
            checked_status.append(f"{url} + ',' + 'HTTP error occurred:' {http_err}")
            
    except Exception as err:
            checked_status.append(f"{url} + ',' +'Other error occurred:' {err}")
            
pd.Series(list(checked_status)).to_csv("broken_links.csv", index=False)

In [92]:
import requests
from requests.exceptions import HTTPError
import csv
import pandas as pd

In [158]:
Reading_list = pd.read_csv("Readinglist_1.csv")

Reading_list

,Date Added,Title,Type,Item Link,Local Control Number,ISBN10,ISBN13,ISSN,EISSN,DOI,Importance,Note for Student,Note for Library
0,20/06/2022 08:15:21,The Cambridge handbook of forensic psychology,Book,http://readinglists.mdx.ac.uk/items/7e5e9146-1...,9.910033e+17,1108816746,9781108816748,NaN,NaN,http://dx.doi.org/10.1017/9781108848916,Essential – PeT,NaN,NaN
1,20/06/2022 08:16:35,Criminological and Forensic Psychology,Book,http://readinglists.mdx.ac.uk/items/d2f67c23-8...,9.910033e+17,NaN,9781526424273,NaN,NaN,NaN,Recommended,NaN,NaN
2,20/06/2022 08:20:45,Special Issue: Feminisms and Decolonising Psyc...,Journal,http://readinglists.mdx.ac.uk/items/6056b91b-2...,NaN,NaN,NaN,NaN,NaN,NaN,Recommended,NaN,NaN
3,20/06/2022 08:21:22,Handbook of victims and victimology,Book,http://readinglists.mdx.ac.uk/items/53cf59fc-e...,9.910033e+17,1138889458 1138889466,9781138889460,NaN,NaN,NaN,Recommended,NaN,NaN
4,20/06/2022 08:23:50,Victimology – Podcast – Podtail,Webpage,http://readinglists.mdx.ac.uk/items/e90f87e5-e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,23/06/2022 13:47:11,Police Interviews of Sexual Assault Reporters:...,Article,http://readinglists.mdx.ac.uk/items/cd33bcc5-5...,NaN,NaN,NaN,0886-6708,1945-7073,10.1891/0886-6708.27.2.263,NaN,NaN,NaN
202,23/06/2022 13:47:28,Comparing Rape Victim and Perpetrator Blaming ...,Article,http://readinglists.mdx.ac.uk/items/09455750-b...,NaN,NaN,NaN,0093-8548,1552-3594,10.1177/0093854811434696,NaN,NaN,NaN
203,23/06/2022 13:47:46,Police Officer Schema of Sexual Assault Reports,Article,http://readinglists.mdx.ac.uk/items/a6f3f962-1...,NaN,NaN,NaN,0886-2605,1552-6518,10.1177/0886260514556765,NaN,NaN,NaN
204,23/06/2022 13:48:03,Making Judgments: How Blame Mediates the Influ...,Article,http://readinglists.mdx.ac.uk/items/aeefe60b-0...,NaN,NaN,NaN,0886-2605,1552-6518,10.1177/0886260516662437,NaN,NaN,NaN
205,23/06/2022 13:48:15,Police Perceptions of Sexual Assault Victims,Article,http://readinglists.mdx.ac.uk/items/c005c6b5-3...,NaN,NaN,NaN,1098-6111,1552-745X,10.1177/1098611111432843,NaN,NaN,NaN

In [162]:
#item_link = Reading_list.iloc[:, 3 ]
item_link = Reading_list[["Item Link"]]

In [163]:
item_link

                                             Item Link
0    http://readinglists.mdx.ac.uk/items/7e5e9146-1...
1    http://readinglists.mdx.ac.uk/items/d2f67c23-8...
2    http://readinglists.mdx.ac.uk/items/6056b91b-2...
3    http://readinglists.mdx.ac.uk/items/53cf59fc-e...
4    http://readinglists.mdx.ac.uk/items/e90f87e5-e...
..                                                 ...
201  http://readinglists.mdx.ac.uk/items/cd33bcc5-5...
202  http://readinglists.mdx.ac.uk/items/09455750-b...
203  http://readinglists.mdx.ac.uk/items/a6f3f962-1...
204  http://readinglists.mdx.ac.uk/items/aeefe60b-0...
205  http://readinglists.mdx.ac.uk/items/c005c6b5-3...

[206 rows x 1 columns]

In [165]:
checked_status = []
for url in item_link:
    #um header in loop zu überspringen
    if readerobj.line_num == 1:
            continue
    try:
        response= requests.head(url)   
        status = response.raise_for_status() 
  
        
        #results.append(status)

    #except Exception:
        #if status == [404, 500]:
        
        
    except HTTPError as http_err:
            
            checked_status.append(f"{url} + ',' + 'HTTP error occurred:' {http_err}")
            
    except Exception as err:
            
            checked_status.append(f"{url} + ',' +'Other error occurred:' {err}")
            
pd.Series(list(checked_status)).to_csv("reading_list_checked.csv", index=False)

In [166]:
data = pd.read_csv("reading_list_checked.csv")

In [167]:
data

   0
0  N
1  o
2  n
3  e